        <div class= "main-contents">
          <div class= "title"><%= post.title %></div>
            <div class= "article">
              <div class= "text">
              <%= simple_format(post.text) %>
              </div>
            <span class="name">
              <a href="/users/<%= post.user.id %>">
              投稿者名：<%= post.user.nickname %></span>
              </a>
            </div>
            <div class= "menu">
              <ul>
                <% if user_signed_in? && current_user.id == post.user_id %>
                <li><%= link_to 'destory', "/posts/#{post.id}", method: :delete %></li>
                <li><%= link_to 'edit', "/posts/#{post.id}/edit", method: :get %></li>
                <% end %>
                <li><%= link_to 'show', "/posts/#{post.id}", method: :get %></li>
              </ul>
            </div>
        </div>